# Laboratory Two - Data Exploratory Analysis

In [11]:
import pandas as pd

#reading csv files
missing_values = [" ?"]
data_online = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',
                   header=None,
                   na_values = missing_values,
                   sep=",")

data_desktop = pd.read_csv('/Users/adunifekizitookoye/Desktop/CSCI 4150U - Data Mining/adult.data',
                   header=None,
                   na_values = missing_values,
                   sep=",")

In [12]:
print(data_desktop)

       0                  1       2            3   4                    5   \
0      39          State-gov   77516    Bachelors  13        Never-married
1      50   Self-emp-not-inc   83311    Bachelors  13   Married-civ-spouse
2      38            Private  215646      HS-grad   9             Divorced
3      53            Private  234721         11th   7   Married-civ-spouse
4      28            Private  338409    Bachelors  13   Married-civ-spouse
...    ..                ...     ...          ...  ..                  ...
32556  27            Private  257302   Assoc-acdm  12   Married-civ-spouse
32557  40            Private  154374      HS-grad   9   Married-civ-spouse
32558  58            Private  151910      HS-grad   9              Widowed
32559  22            Private  201490      HS-grad   9        Never-married
32560  52       Self-emp-inc  287927      HS-grad   9   Married-civ-spouse

                       6               7       8        9      10  11  12  \
0            Adm-clerical   Not-in-family   White     Male   2174   0  40
1         Exec-managerial         Husband   White     Male      0   0  13
2       Handlers-cleaners   Not-in-family   White     Male      0   0  40
3       Handlers-cleaners         Husband   Black     Male      0   0  40
4          Prof-specialty            Wife   Black   Female      0   0  40
...                   ...             ...     ...      ...    ...  ..  ..
32556        Tech-support            Wife   White   Female      0   0  38
32557   Machine-op-inspct         Husband   White     Male      0   0  40
32558        Adm-clerical       Unmarried   White   Female      0   0  40
32559        Adm-clerical       Own-child   White     Male      0   0  20
32560     Exec-managerial            Wife   White   Female  15024   0  40

                   13      14
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3       United-States   <=50K
4                Cuba   <=50K
...               ...     ...
32556   United-States   <=50K
32557   United-States    >50K
32558   United-States   <=50K
32559   United-States   <=50K
32560   United-States    >50K

[32561 rows x 15 columns]

### Part I:
    1. Apply as many of the different visualization techniques described in the tutorial as possible:

In [ ]:
%matplotlib inline
s1

    2. Your report should contain (minimum requirement):
       1. For each continuous attribute, calculate its average, standard deviation, minimum, and maximum values.

In [ ]:
y = np.array([-3.2, -1.4, 0.4, 2.5, 3.4])    # generate a random vector
print(y)

print("Min =", np.min(y))             # min 
print("Max =", np.max(y))             # max 
print("Average =", np.mean(y))        # mean/average
print("Std deviation =", np.std(y))   # standard deviation
print("Sum =", np.sum(y))

       2. For the discrete attribute, count the frequency for each of its distinct values.

       3. Draw histogram of the class variable

In [ ]:
s3.plot(kind='hist', title = 'Histogram')

       4. Draw the distribution of values for a continuous attribute using a histogram.

In [ ]:
s3.plot(kind='hist', title = 'Histogram')

       5. Draw some scatter plots for a couple of attribute pairs.

       6. Draw a parallel diagram for some attributes in the data set

       7. For each diagram describe your interpretation and insight.

### Part II: 

    1. Identify which attributes have missing values and address the issue by:
       1. Replacing missing values by the average or mod of the attribute (based on attribute types)
       2. Replace missing values by the average or mode of the attribute in the particular class to which the instance belongs
       3. Draw a histogram of the attribute before and after replacing missing values in the previous step 1 and 2